<p>
	<%= form_tag(add_tracker_hider_path(@project), method: :post) do %>
		<select name="object_id">
				<option value="roles" disabled="true"><i><%= t(:list_roles)%></i></option>
			<% Role.all.each do |role| %>
				<option value="role_<%=role.id%>"><%= role.name %></option>
			<% end %>
				<option value="users" disabled="true"><i><%= t(:list_users)%></i></option>
			<% Member.where(project_id: @project.id).each do |member| %>
				<% if User.where(id: member.user_id).first.is_a?(User) then %>
					<option value="user_<%=member.user_id%>"><%= User.find(member.user_id).name %></option>
				<% end %>
			<% end %>
		</select>
		<select name="tracker_id">
			<%= @project.trackers.each do |t| %>
				<option value="<%= t.id %>"><%= t.name %></option>
			<% end %>
		</select>
		<input type="submit" value="<%= t(:submit_button) || "Submit" %>"/>
	<% end %>
</p>
<% if @project.hidden_trackers.count > 0 then %>
	<table class="list">
		<tr>
			<th><%= t :user_or_role %></th>
			<th><%= t :tracker %></th>
			<th></th>
		</tr>
		
		<% @project.hidden_trackers.each do |th|%>
			<tr>
				<td><%= (th.role.nil? ? th.user.name : th.role.name) %></td>
				<td><%= th.tracker%></td>
				<td><%= link_to t(:delete), delete_tracker_hider_path(id: th.id, project_id: @project.id), class: 'btn', method: :delete, data: {confirm: "are you sure?"} %></>
			</tr>
		<% end %>
	</table>
<% else %>
		<h3><%= t :no_tracker_hiders_defined %></h3>
<% end %>
